grant {
    permission java.lang.RuntimePermission "loadLibrary.opensearchknn_nmslib";
    permission java.lang.RuntimePermission "loadLibrary.opensearchknn_faiss";
    permission java.lang.RuntimePermission "loadLibrary.opensearchknn_common";
    permission java.lang.RuntimePermission "loadLibrary.opensearchknn_faiss_avx2";
    permission java.net.SocketPermission "*", "connect,resolve";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.io.FilePermission "/proc/cpuinfo", "read";
    permission java.util.PropertyPermission "write";
    permission jdk.incubator.vector.VECTOR_ACCESS_OOB_CHECK "write";
};
